body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    background: #020617;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
}
input, button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}